*.exe
*.dll
*.so
*.dylib
*.out
/tmp/
/logs/
*.log
/.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/vendor/
/go.sum
Thumbs.db
desktop.ini
Dockerfile.prod
/docker-compose.yml
/docs/
/api/swagger/
.secrets.json
/icons/
/thumbnails/
/videos/
/uploads/
/resource_file/